.output-container {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  